.inspiration-regular {
  font-family: "Inspiration", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("../imgs/textura enxadrada.jpg");
  background-size: cover;
  background-position: center;     
  background-repeat: no-repeat;    
  min-height: 100vh;   
  margin: 0;
  padding: 0;
}
.main-content-texture {
  background-image: url("../imgs/textura_amadeirada.jpg");
  background-size: cover;
  background-position: center;     
  background-repeat: no-repeat;     
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

header {
  background-color: #DB0004;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap; /* responsivo em mobile vira coluna */
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.logo {
  color: white;
  margin: 0 0 0 16px;
  font-size: 2.5em;
  height: auto;
  display: inline-block;
}

.logout-icon {
  width: 30px;
  height: 30px;
  color: white;
  margin-left: 8px;
  display: inline-block;
}

.feed {
  flex: 1;
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;}

.form-criar-post {
  background-color: #fefa8c;
  padding: 16px;
  margin-bottom: 16px;
  flex-direction: column;
  max-width: 570px;
  margin: 0 auto;
  padding: 16px;
  display: grid;
}

.foto-perfil {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-left: 8px;
}

.imagem-post {
  max-width: 50%;
  height: auto;
  margin-top: 8px;
  object-fit: cover;
}
.post {
  background-color: #fefa8c;
  padding: 16px;
  margin-bottom: 16px;
}