.inspiration-regular {
  font-family: "Inspiration", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("../imgs/textura enxadrada.jpg");
  background-size: cover;
  background-position: center;     
  background-repeat: no-repeat;    
  min-height: 100vh;   
  margin: 0;
  padding: 0;
}
.main-content-texture {
  background-image: url("../imgs/textura_amadeirada.jpg");
  background-size: cover;
  background-position: center;     
  background-repeat: no-repeat;    
  min-height: 100%; 
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  top: -20px;
  display: flex;
}

header {
  background-color: #DB0004;
  flex-wrap: wrap; /* responsivo em mobile vira coluna */
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.logo {
  width: 100%;
  height: auto;
  color: white;
  transform: translatex(90%);
}